/* Game layout */
.game {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.status {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  transition: color 0.3s;
}

/* Flashing effect for winner text */
.winnerText {
  color: #28a745; /* Green for the winner */
  animation: flash 1s ease-in-out infinite;
}

/* Flash animation */
@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.gameBoardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.square {
  width: 100px;
  height: 100px;
  border-radius: 7px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.square:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.square:active {
  background-color: #ddd;
}

/* Highlight the winning squares */
.winningSquare {
  background-color: #28a745; /* Green background for winning squares */
  color: white; /* White text on winning squares */
}

.historyItem{
  list-style: none; /* Remove default bullet points if you don't need them */
  text-align: left; /* Left-align text within the list */
  margin-bottom: 5px; /* Add spacing between the items if needed */
}

/* Ensure the buttons are left-aligned within the list item */
.historyButton {
  display: inline-block;
  text-align: left; /* Ensure button text is left-aligned */
  width: 100%; /* Make the button full width if you want */
  padding: 10px 15px; /* Adjust padding if needed */
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.olelement{
  padding-left: 0px;
}

.historyButton:hover {
  background-color: grey;
}

.historyButton:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .gameBoard {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 8px;
  }

  .square {
    width: 80px;
    height: 80px;
    font-size: 20px;
  }

  .status {
    font-size: 20px;
  }

  .historyButton {
    padding: 8px 12px;
    font-size: 14px;
  }
}
